.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 120px;

    & .logo {
        & .svg {
            width: 104px;
            height: 16px;
        }
    }
}
