.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    background: var(--white);
    border-radius: 16px;
    padding: 16px;
    width: 276px;
    min-width: 0;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.cardImage {
    aspect-ratio: 244 / 268;
    border-radius: 14px;
    background: var(--gray-light);
}

.carDescription {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.carTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}



.model {
    color: var(--light-blue);
}

.basicInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
    background: var(--bg);
    padding: 8px;
    border-radius: 8px;
}
.infoGroup {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    line-height: 1.5;
}

.infoItem {
    display: inline;
}

.separator {
    width: 1px;
    height: 16px;
    stroke: #DADDE1;
}
