.searchForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 924px;
    margin: 0 auto;
    padding: 32px 24px;
    width: 100%;
}

.mileageRange {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 12px;
}

.mileageInput {
    border-radius: 0 !important;
}

@media (min-width: 1440px) {
    .mileageInput {
        width: 160px !important;
    }
}

@media (min-width: 768px) {
    .searchForm {
        display: flex;
        flex-direction: row;
        align-items: end;
        column-gap: 16px;
        row-gap: 14px;
        flex-wrap: wrap;
        padding: 32px 24px;

        & > * {
            flex: 1 0 40%;
            min-width: 0;
        }
    }

    .dropDownInput {
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .searchForm {
        flex-direction: row;
        gap: 16px;
        flex-wrap: nowrap;
        padding: 84px 0;

        & > * {
            flex: none;
        }
    }
}


@media (min-width: 768px) {
    .mileageRange {
        margin-bottom: 0;
    }
}


.mileageDivider {
    width: 1px;
    height: 44px;
    background-color: var(--gray-light);
    z-index: 1;
}

.searchButtonContainer {
    position: relative;
    width: 100%;
    margin-top: 16px;

    & button {
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .searchButtonContainer {
        width: auto;
    }
}


.clearButton {
    position: absolute;
    top: 100%;
    left: 6%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 8px;
    font-weight: 500;
    color: var(--gray);
    background: none;
    border: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .clearButton {
        left: 10%;
    }
}

@media (min-width: 1440px) {
    .clearButton {
        left: 28%;
    }
}

.clearButton:hover {
    color: var(--light-blue);
}