.button {
    display: inline-block;
    white-space: nowrap;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    background: var(--light-blue);
    color: var(--white);
    border: none;
    padding: 12px 51px;
    font-family: inherit;
    font-size: inherit;

}

.primary {
    padding: 12px 89px;
}

.secondary {

}

.primary:hover:not(:disabled), .secondary:hover:not(:disabled) {
    background: var(--dark-blue);
}

.loadMore {
    display: block;
    margin: 3rem auto;
    border: 1px solid var(--light-blue);
    background: transparent;
    color: var(--main);

    &:hover:not(:disabled) {
        border-color: var(--dark-blue);
    }
}


