:root {
    /* Colors from Figma global styles */
    --main: #101828;
    --gray: #8d929a;
    --gray-light: #dadde1;
    --badges: #f2f4f7;
    --inputs: #f7f7f7;
    --white: #fff;
    --button: #3470ff;
    --button-hover: #0b44cd;
    --light-blue: #00aad4;
    --bg: #f5f5f5;
    --dark-blue: #0095ba;
    --error: #ec383b;
    --error-light: #ffdfdf;
}

body {
    font-family: --font-manrope, sans-serif;;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--white);
    color: var(--main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: --font-inter, sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: currentColor;
    text-decoration: none;
    font-size: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
