.hero {
    position: relative;
    width: 100%;
    min-height: clamp(420px, 70vw, 700px);
}

.titleWrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 783px;
    text-align: center;
    color: var(--white)
}

.title {
    font-weight: 700;
    font-size: 3.75rem;
}

.description {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}


& .heroImageWrapper {
    transform: translate(-50%, -50%);
    width: 100%;
}
