.carDetailRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 68px;
    width: 100%;
    max-width: 100%;
    padding: 32px 24px;
    background: var(--white);
    border-radius: 16px;
}
@media (min-width: 768px) {
    .carDetailRight {
        padding: 32px 24px;
        max-width: 528px;
    }
}

@media (min-width: 1440px) {
    .carDetailRight {
        padding: 32px 24px;

    }
}

.header {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titleRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "title stock"
        "location location"
        "price price";
    gap: 8px;
    align-items: baseline;
}

.title {
    grid-area: title;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
}

.stockNumber {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--gray);
    grid-area: stock;
    justify-self: end;
}

.location {
    grid-area: location;
    gap: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.price {
    grid-area: price;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--light-blue);
}

.description {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
    text-align: justify;
    text-justify: inter-word;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sectionTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.divider {
    border: none;
    border-top: 1px solid var(--gray-light);
    margin: 0;
}

.icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    color: var(--main);
}