.filterGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-size: 12px;
    font-weight: 400;
    line-height: 133%;
    color: var(--gray);
}

.dropDownWrapper {
    position: relative;
}

.dropDownInputWrapper {
    position: relative;
    display: block;
}

.dropDownInput {
    border-radius: 12px;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    border: none;
    color: var(--main);
    background-color: var(--white);
    outline: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .dropDownInput {
        width: 204px;
    }
}

.dropDownInput::placeholder {
    /*padding: 12px 64px 12px 16px;*/
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.dropDownIcon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    color: var(--gray);
    pointer-events: none;
}

.dropDown {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 14px 18px;
    position: absolute;
    top: 72px;
    z-index: 1;
    border: 1px solid var(--white);
    border-radius: 12px;
    width: 100%;
    max-height: 272px;
    box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
    background: var(--white);
    overflow: hidden;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .dropDown {
        width: 204px;
    }
}

.dropDownItem {
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
    color: var(--gray);
    cursor: pointer;
}

.dropDownInputSelected {
    color: var(--main);
}