.carLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    margin: 0 auto;
    margin-top: 84px;
    margin-bottom: 84px;
    max-width: 1200px;
}

@media (min-width: 768px) {
    .carLayout {
        flex-direction: row;
    }
}

.carLayoutLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    /*max-width: 640px;*/
    /*margin: 0 auto;*/
}

.imageWrapper {
    & > img {
        margin: 0 auto;
        border-radius: 16px;
        background-color: var(--gray-light);
    }
}

